.paragraph{
color: white;
text-align: center;
}
h1{
    color: white;
    text-align: center;
}
.group{
    color: white;
    margin-left: 5%;
}
.master{
    color: white;
    text-emphasis:bold;
    margin-left: 40%;
}
.button {
    margin-left: 40%;
    color: blanchedalmond;
}